* {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

    font-size : '12px'

}

.dflex {
    display: flex;
}

.alignCenter {
    align-items : center
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: end;
}